
.business-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Ajusta el tamaño para que las tarjetas sean más grandes */
    gap: 2rem;
    padding: 4rem;
  }