.App {
  text-align: center;
}

body {
  background: url('https://images.pexels.com/photos/1819669/pexels-photo-1819669.jpeg'); 
  background-size: cover; 
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
